<html>
<head>
  <title>Horsetooth Liquidators Inc.</title>
</head>
<body>
  <h1><%= message %></h1>
  <a href='/products'>View Products</a> | <a href='/users/register'>Register</a> | <a href='/users/login'>Login</a>
</body>
</html>