<html>
<head>
  <title><%= product.name %> - Horsetooth Liquidators Inc.</title>
</head>
<body>
  <h1><%= product.name %></h1>
  <p>Price: $<%= product.price %></p>
  <p>Description: <%= product.description %></p>
  <a href='/products'>Back to Products</a>
</body>
</html>